.Content
{
    display: table;
    width: 100%; /*Optional*/
    border-spacing: 10px; /*Optional*/
    font-family: FontAwesome;
}
nav
{
    font-family: FontAwesome;
    font-size: 32px;
    border: solid black;
}
.Left
{
    display: table-cell;
    border: solid green; /*Optional*/
    font-size: 10px;

}
.Center
{
    display: table-cell;
    border: solid blue; /*Optional*/
    flex: flex-grow;
}
.Right
{
    display: table-cell;
    border: solid yellow; /*Optional*/
    font-family: FontAwesome;
    font-size: 64px;
}